@using BlazorApp.DataAcess
@using Blazorise
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using static BlazorApp.Features.Account.Pages.Register
@inject IJSRuntime JsRuntime
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
@inject ILocalStorageService _localStorageService
@inject IUserDataQueries UserDataQueries
@inject UserManager<IdentityUser> userManager
@using BlazorApp.Cache
@inject ICacheBase cache

<Modal @bind-Visible="@modalVisible" Closing="@OnModalClosing">
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Cambio de contraseña</ModalTitle>
        </ModalHeader>
        <ModalBody>
            @if (@valorRetorno == true)
            {
                <div class="row bg-warning text-white" style="margin-top:10px; height:40px">
                    <label class="p-2">@error</label>
                </div>
            }
            <div class="container">
                <EditForm Model="@registerAccountModel" OnValidSubmit="@Save_Password">
                    <DataAnnotationsValidator />
                    <Blazorise.ValidationSummary />
                    <div class="field">
                        <label class="form-label"><span class="h4">Correo Electrónico</span></label>
                        <div class="form-group">
                            <InputText disabled class="col-lg-8" id="email" type="text" @bind-Value="@email"></InputText>
                        </div>
                    </div>
                    <div class="field">
                        <label class="form-label"><span class="h4">Password</span></label>
                        <div class="form-group">
                            <InputText autocomplete="off" class="col-md-5" id="password" type="password" @bind-Value="@registerAccountModel.Password"></InputText>
                            <ValidationMessage For="@(()=>registerAccountModel.Password)" />
                        </div>
                    </div>
                    <div class="field">
                        <label class="form-label"><span class="h4">Confirmación password</span></label>
                        <div class="form-group">
                            <InputText autocomplete="off" class="col-md-5" id="cpassword" type="password" @bind-Value="@registerAccountModel.ConfirmPassword"></InputText>
                            <ValidationMessage For="@(()=>registerAccountModel.ConfirmPassword)" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="btn btn-success">OK</button>
                        </div>
                    </div>
                </EditForm>
                <hr />
                <div class="field">
                    <div class="control">
                        <Button Color="Color.Secondary" Clicked="@HideModal">Cerrar</Button>
                    </div>
                </div>
            </div>
        </ModalBody>
    </ModalContent>
</Modal>

@code {

    EditContext? context;

    [Parameter]
    public bool modalVisible { get; set; }

    private RegisterAccountModel registerAccountModel = new RegisterAccountModel();

    private string _userKey = "key";

    private string? email;

    private string? error;

    private bool cancelClosing = true;

    private bool valorRetorno = false;

    private void HideModal()
    {
        cancelClosing = false;

        modalVisible = false;
    }

    protected override void OnInitialized()
    {
        context = new EditContext(registerAccountModel);
        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var emailStorage = await _localStorageService.GetItem<String>(_userKey);
            if (string.IsNullOrEmpty(emailStorage))
            {
                var key = KeyCache.GenCacheKey("User");
                var result = cache.Get<User>(key);
                if (result != null)
                {
                    email = result.Email.ToList().FirstOrDefault();
                }
            }
            else
            {
                email = await _localStorageService.GetItem<string>(_userKey);
            }
        }

         StateHasChanged();
    }

    private async Task<bool> Save_Password(EditContext context)
    {
        valorRetorno = false;

        if (context.Validate())
        {
            var emailStorage = await _localStorageService.GetItem<string>(_userKey);

            if (!string.IsNullOrEmpty(emailStorage))
            {
                try
                {
                    var user = await userManager.FindByEmailAsync(emailStorage);

                    if (user != null)
                    {
                        string newpassword = registerAccountModel.Password;

                        await userManager.RemovePasswordAsync(user);

                        var result = await userManager.AddPasswordAsync(user, newpassword);

                        if (result.Succeeded)
                        {
                            valorRetorno = true;

                            modalVisible = false;

                            await JsRuntime.InvokeVoidAsync("recargar");
                        }
                        else
                        {
                            error = result.Errors.ToList().FirstOrDefault().Description;
                            valorRetorno = true;
                        }
                    }
                    else
                    {
                        valorRetorno = true;
                    }
                }
                catch (Exception ex)
                {
                    error = ex.InnerException.Message;
                    valorRetorno = true;
                }
            }
        }

        return valorRetorno;
    }


    private async Task OnModalClosing(ModalClosingEventArgs e)
    {
        e.Cancel = cancelClosing;
        if (!cancelClosing)
        {
            await JsRuntime.InvokeVoidAsync("recargar");
        }

    }

    public class RegisterAccountModel
    {

        [Required(ErrorMessage = "Password es Obligatorio.")]
        [StringLength(10, MinimumLength = 6,
                  ErrorMessage = "El Password debe tener entre 6 y 10 caracteres")]
        public string Password { get; set; }
        [Required(ErrorMessage = "ConfirmPassword es Obligatorio.")]
        [Compare(nameof(Password), ErrorMessage = "Password no coinciden.")]
        public string ConfirmPassword { get; set; }
    }
}
