@page "/inmuebles"
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
@inject ILocalStorageService _localStorageService
@using BlazorApp.Encryptor
@using Blazorise
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inject IEncryptor IEncryptor
@inject IUserDataQueries UserDataQueries
@using BlazorApp.Components


<body>
    <div class="welcome"></div>
    <div class="panel-body">
        <Blazorise.Container Breakpoint="Breakpoint.Desktop">
            <Blazorise.Alert Color="Color.Primary" Visible="true">
                <h3><i class="icon-edit-sign teal"></i>SUBASTAS ONLINE</h3>
                <p>
                    <strong style="color:black;font-size:medium">Un equipo profesional se encarga de todas las gestiones del inmueble: desde la compra, a la reforma, al alquiler y venta.</strong>
                </p>
            </Blazorise.Alert>
        </Blazorise.Container>
        <hr>
        @if (activate == true)
        {
            <ComponentPujar modalVisible=@visible modalDescripcion=@Descripcion
                        modalIdAfiliado=@IdAfiliado modalId=@IdPuja></ComponentPujar>
        }
    </div>

    <CardDeck>
        <Card>
            <CardImage Source="/img/miami.png"></CardImage>
            <CardBody>
                <CardTitle Size="3">Precio $ @this.montoPuj01</CardTitle>
                <CardText>
                    <h4>@this.descripcionPuj01</h4>
                </CardText>
                <Button Color="Color.Primary" Loading="@isLoadingPuj01" @onclick="async () => await ShowModal(this._idPuj01,this.descripcionPuj01,this._idPuj01,1)">Pujar</Button>
                <Button Color="Color.Secondary" @onclick="async () => await ShowModalCarousel(this._idPuj01,this.descripcionPuj01,this.Imagen01,this.Imagen02,this.Imagen03)">Detalles</Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/miami1.png"></CardImage>
            <CardBody>
                <CardTitle Size="3">Precio $ @this.montoPuj02</CardTitle>
                <CardText>
                    <h4>@this.descripcionPuj02</h4>
                </CardText>
                <Button Color="Color.Primary" Loading="@isLoadingPuj02" @onclick="async () => await ShowModal(this._idPuj02,this.descripcionPuj02,this._idPuj02,2)">Pujar</Button>
                <Button Color="Color.Secondary" @onclick="async () => await ShowModalCarousel(this._idPuj02,this.descripcionPuj02,this.Imagen01,this.Imagen02,this.Imagen03)">Detalles</Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/miami4.png"></CardImage>
            <CardBody>
                <CardTitle Size="3">Precio $ @this.montoPuj03</CardTitle>
                <CardText>
                    <h4>@this.descripcionPuj03</h4>
                </CardText>
                <Button Color="Color.Primary" Loading="@isLoadingPuj03" @onclick="async () => await ShowModal(this._idPuj03,this.descripcionPuj03,this._idPuj03,3)">Pujar</Button>
                <Button Color="Color.Secondary" @onclick="async () => await ShowModalCarousel(this._idPuj03,this.descripcionPuj03,this.Imagen01,this.Imagen02,this.Imagen03)">Detalles</Button>
            </CardBody>
        </Card>
    </CardDeck>
    <hr />
    <CardDeck>
        <Card>
            <CardImage Source="/img/miami5.png"></CardImage>
            <CardBody>
                <CardTitle Size="3">Precio $ @this.montoPuj04</CardTitle>
                <CardText>
                    <h4>@this.descripcionPuj04</h4>
                </CardText>
                <Button Color="Color.Primary" Loading="@isLoadingPuj04" @onclick="async () => await ShowModal(this._idPuj04,this.descripcionPuj04,this._idPuj04,4)">Pujar</Button>
                <Button Color="Color.Secondary" @onclick="async () => await ShowModalCarousel(this._idPuj04,this.descripcionPuj04,this.Imagen01,this.Imagen02,this.Imagen03)">Detalles</Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/miami.png"></CardImage>
            <CardBody>
                <CardTitle Size="3">Precio $ @this.montoPuj05</CardTitle>
                <CardText>
                    <h4>@this.descripcionPuj05</h4>
                </CardText>
                <Button Color="Color.Primary" Loading="@isLoadingPuj05" @onclick="async () => await ShowModal(this._idPuj05,this.descripcionPuj05,this._idPuj05,5)">Pujar</Button>
                <Button Color="Color.Secondary" @onclick="async () => await ShowModalCarousel(this._idPuj05,this.descripcionPuj05,this.Imagen01,this.Imagen02,this.Imagen03)">Detalles</Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/miami3.png"></CardImage>
            <CardBody>
                <CardTitle Size="3">Precio $ @this.montoPuj06</CardTitle>
                <CardText>
                    <h4>@this.descripcionPuj06</h4>
                </CardText>
                <Button Color="Color.Primary" Loading="@isLoadingPuj06" @onclick="async () => await ShowModal(this._idPuj06,this.descripcionPuj06,this._idPuj06,6)">Pujar</Button>
                <Button Color="Color.Secondary" @onclick="async () => await ShowModalCarousel(this._idPuj05,this.descripcionPuj05,this.Imagen01,this.Imagen02,this.Imagen03)">Detalles</Button>
            </CardBody>
        </Card>
    </CardDeck>
</body>


<ComponentCarousel modalimagen01=@sImagen01 modalimagen02=@sImagen02 
                   modalimagen03=@sImagen03  modalVisible=@visibleCarousel modalDescripcion=@sdescripcion>
               </ComponentCarousel>

@functions {

    async Task ShowModal(string? idCod, string? descripcion, string? puja, int Loading)
    {

        switch (Loading)
        {
            case 1:
                isLoadingPuj01=true;
                break;
            case 2:
                isLoadingPuj02=true;
                break;
            case 3:
                isLoadingPuj03=true;
                break;
            case 4:
                isLoadingPuj04=true;
                break;
            case 5:
                isLoadingPuj05=true;
                break;
            case 6:
                isLoadingPuj06=true;
                break;
        }

        var emailStorage = await _localStorageService.GetItem<String>(_userKey);
        if (string.IsNullOrEmpty(emailStorage))
        {
            var state = await authenticationStateProvider.GetAuthenticationStateAsync();
            if (!state.User.Identity.IsAuthenticated)
            {
                navigationManager.NavigateTo("/account/signin?returnUrl=" + System.Net.WebUtility.UrlEncode(new Uri(navigationManager.Uri).PathAndQuery));
            }
        }
        await Task.Delay(TimeSpan.FromSeconds(3));
        visible = true;
        Descripcion = descripcion;
        IdPuja = idCod;
        StateHasChanged();
        switch (Loading)
        {
            case 1:
                isLoadingPuj01=false;
                break;
            case 2:
                isLoadingPuj02=false;
                break;
            case 3:
                isLoadingPuj03=false;
                break;
            case 4:
                isLoadingPuj04=false;
                break;
            case 5:
                isLoadingPuj05=false;
                break;
            case 6:
                isLoadingPuj06=false;
                break;
        }
    }

    private Task ShowModalCarousel(string? idCod, string? descripcion, string? imagen01, string? imagen02, string? imagen03)
    {

        sImagen01 = imagen01;
        sImagen02 = imagen02;
        sImagen03 = imagen03;
        sdescripcion = descripcion;
        visibleCarousel = true;
        return Task.CompletedTask;
    }
}

@code {

    private string sdescripcion;

    private bool visibleCarousel;

    private string sImagen01;
    private string sImagen02;
    private string sImagen03;

    private string Imagen01 ="/img/miami.png";
    private string Imagen02 ="/img/miami3.png";
    private string Imagen03 ="/img/miami1.png";
    
    private bool activate = false;
    private bool visible = false;
    private string? Descripcion;
    private string? email;
    private string _userKey = "key";
    private string? IdAfiliado;
    private bool result;

    private string? _idPuj01 = "Puja01";
    private string? _idPuj02 = "Puja02";
    private string? _idPuj03 = "Puja03";
    private string? _idPuj04 = "Puja04";
    private string? _idPuj05 = "Puja05";
    private string? _idPuj06 = "Puja06";
    private string? _idPuj07 = "Puja07";
    private string? _idPuj08 = "Puja08";
    private string? _idPuj09 = "Puja09";


    private string? montoPuj01 = "500.000";
    private string? montoPuj02 = "600.000";
    private string? montoPuj03 = "700.000";
    private string? montoPuj04 = "800.000";
    private string? montoPuj05 = "900.000";
    private string? montoPuj06 = "530.000";
    private string? montoPuj07 = "120.000";
    private string? montoPuj08 = "130.000";
    private string? montoPuj09 = "230.000";


    private string? descripcionPuj01 = "Apartamento Miami";
    private string? descripcionPuj02 = "Apartamento La Florida";
    private string? descripcionPuj03 = "Apartamento Miami Beach";
    private string? descripcionPuj04 = "Apartamento Orlando";
    private string? descripcionPuj05 = "Apartamento Miami";
    private string? descripcionPuj06 = "Apartamento New York";
    private string? descripcionPuj07 = "Duplex Miami";
    private string? descripcionPuj08 = "Estudio Miami";
    private string? descripcionPuj09 = "PH Miami";

    public string? puja;
    public string? IdPuja;

    private bool isLoading;

    private bool isLoadingPuj01;
    private bool isLoadingPuj02;
    private bool isLoadingPuj03;
    private bool isLoadingPuj04;
    private bool isLoadingPuj05;
    private bool isLoadingPuj06;
    private bool isLoadingPuj07;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var emailStorage = await _localStorageService.GetItem<String>(_userKey);
            if (string.IsNullOrEmpty(emailStorage))
            {
                var state = await authenticationStateProvider.GetAuthenticationStateAsync();
                if (!state.User.Identity.IsAuthenticated)
                {
                    navigationManager.NavigateTo("/account/signin?returnUrl=" + System.Net.WebUtility.UrlEncode(new Uri(navigationManager.Uri).PathAndQuery));
                }
            }
            else
            {
                email = emailStorage;
                UserDTO userData = new UserDTO();
                var UserData = await UserDataQueries.GetUserDataAsync(emailStorage);
                if (UserData == null)
                {
                    activate = false;
                }
                else
                {
                    activate = true;
                    IdAfiliado = UserData.Id;
                }

            }

            await JS.InvokeVoidAsync("ajustar","Subastas");

        }

        StateHasChanged();

    }
}



