@page "/inmuebles"
@inject AuthenticationStateProvider authenticationStateProvider
@inject NavigationManager navigationManager
@inject ILocalStorageService _localStorageService
@using BlazorApp.Encryptor
@using Blazorise
@using Microsoft.JSInterop
@inject IJSRuntime JS
@inject IEncryptor IEncryptor
@inject IUserDataQueries UserDataQueries
<body>
    <div class="welcome"></div>
    <div class="panel-body">
        <Blazorise.Container Breakpoint="Breakpoint.Desktop">
            <Blazorise.Alert Color="Color.Primary" Visible="true">
                <h3><i class="icon-edit-sign teal"></i>SUBASTAS de INMUEBLES</h3>
                <p>
                    <strong style="color:black;font-size:medium">Crea una cuenta para administrar todo lo que haces con ClipOne, desde tus preferencias de compra hasta tu actividad en ClipOne</strong>
                </p>
            </Blazorise.Alert>
        </Blazorise.Container>
        <hr>
        <TemplateSesion></TemplateSesion>
        <ComponentPujar modalVisible=@visible modalDescripcion=@Descripcion 
                        modalPuja=@puja modelIdAfiliado=@IdAfiliado modelId=@IdPuja></ComponentPujar>
        <div class="modal" id="modal-id">
            <a href="#close" class="modal-overlay" aria-label="Close"></a>
            <div class="modal-container">
                <div class="modal-header">
                    <a href="#Close" class="btn btn-clear float-right" aria-label="Close"></a>
                    <div class="modal-title h5">Inversión Inmuebles</div>
                </div>
                <div class="modal-body">
                    <div class="content">
                        <strong style="color:black;font-size:medium">Proceso de Puja Exitosa.</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="img/miami.png" class="img-responsive">
                </div>
                <div class="card-header">
                    <div class="card-title h2">@this.descripcionPuj01</div>
                </div>
                <div class="card-body">
                    <span class="h4"> Precio $ @this.montoPuj01</span>
                </div>
                <div class="card-footer">
                   <button  class="btn btn-primary" @onclick="async () => await ShowModal(this._idPuj01,this.descripcionPuj01,this._idPuj01)">Pujar</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="img/miami1.png" class="img-responsive">
                </div>
                <div class="card-header">
                    <div class="card-title h2">@this.descripcionPuj02</div>
                </div>
                <div class="card-body">
                    <span class="h4"> Precio $ @this.montoPuj02</span>
                </div>
                <div class="card-footer">
                    <button  class="btn btn-primary" @onclick="async () => await ShowModal(this._idPuj02,this.descripcionPuj02,this._idPuj02)">Pujar</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="img//miami3.png" class="img-responsive">
                </div>
                <div class="card-header">
                    <div class="card-title h2">@this.descripcionPuj03</div>
                </div>
                <div class="card-body">
                    <span class="h4"> Precio $ @this.montoPuj03</span>
                </div>
                <div class="card-footer">
                     <button  class="btn btn-primary" @onclick="async () => await ShowModal(this._idPuj03,this.descripcionPuj03,this._idPuj03)">Pujar</button>
              </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row col-md-12">
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="img/miami.png" class="img-responsive">
                </div>
                <div class="card-header">
                    <div class="card-title h2">@this.descripcionPuj04</div>
                </div>
                <div class="card-body">
                    <span class="h4">Precio $ @this.montoPuj04</span>
                </div>
                <div class="card-footer">
                    <button  class="btn btn-primary" @onclick="async () => await ShowModal(this._idPuj04,this.descripcionPuj04,this._idPuj04)">Pujar</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="img/miami1.png" class="img-responsive">
                </div>
                <div class="card-header">
                    <div class="card-title h2">@this.descripcionPuj05</div>
                </div>
                <div class="card-body">
                    <span class="h4">Precio $ @this.montoPuj05</span>
                </div>
                <div class="card-footer">
                    <button  class="btn btn-primary" @onclick="async () => await ShowModal(this._idPuj05,this.descripcionPuj05,this._idPuj05)">Pujar</button>
               </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="img//miami3.png" class="img-responsive">
                </div>
                <div class="card-header">
                    <div class="card-title h2">@this.descripcionPuj06</div>
                </div>
                <div class="card-body">
                     <span class="h4">Precio $ @this.montoPuj06</span>
                </div>
                <div class="card-footer">
                    <button  class="btn btn-primary" @onclick="async () => await ShowModal(this._idPuj06,this.descripcionPuj06,this._idPuj06)">Pujar</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row col-md-12">
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="img/miami.png" class="img-responsive">
                </div>
                <div class="card-header">
                    <div class="card-title h2">@this.descripcionPuj07</div>
                </div>
                <div class="card-body">
                    <span class="h4"> Precio $ @this.montoPuj07 </span>
                </div>
                <div class="card-footer">
                    <button  class="btn btn-primary" @onclick="async () => await ShowModal(this._idPuj07,this.descripcionPuj07,this._idPuj07)">Pujar</button>
               </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="img/miami1.png" class="img-responsive">
                </div>
                <div class="card-header">
                    <div class="card-title h2">@this.descripcionPuj08</div>
                </div>
                <div class="card-body">
                     <span class="h4">Precio $ @this.montoPuj08</span>
                </div>
                <div class="card-footer">
                    <button  class="btn btn-primary" @onclick="async () => await ShowModal(this._idPuj08,this.descripcionPuj08,this._idPuj08)">Pujar</button>
               </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-image">
                    <img src="img//miami3.png" class="img-responsive">
                </div>
                <div class="card-header">
                    <div class="card-title h2">@this.descripcionPuj09</div>
                </div>
                <div class="card-body">
                     <span class="h4">Precio $ @this.montoPuj09</span>
                </div>
                <div class="card-footer">
                   <button  class="btn btn-primary" @onclick="async () => await ShowModal(this._idPuj09,this.descripcionPuj09,this._idPuj09)">Pujar</button>
               </div>
            </div>
        </div>
    </div>

</body>
@code {

    private bool visible = false;
    private string? Descripcion ;
    private string? email;
    private string _userKey = "key";
    private string? IdAfiliado;
    private bool result;

    private string? _idPuj01 = "Puja01";
    private string? _idPuj02 = "Puja02";
    private string? _idPuj03 = "Puja03";
    private string? _idPuj04 = "Puja04";
    private string? _idPuj05 = "Puja05";
    private string? _idPuj06 = "Puja06";
    private string? _idPuj07 = "Puja07";
    private string? _idPuj08 = "Puja08";
    private string? _idPuj09 = "Puja09";


    private string? montoPuj01 = "500.000";
    private string? montoPuj02 = "600.000";
    private string? montoPuj03 = "700.000";
    private string? montoPuj04 = "800.000";
    private string? montoPuj05 = "900.000";
    private string? montoPuj06 = "530.000";
    private string? montoPuj07 = "120.000";
    private string? montoPuj08 = "130.000";
    private string? montoPuj09 = "230.000";

    private string? descripcionPuj01 = "Apartamento Miami";
    private string? descripcionPuj02 = "Apartamento La Florida";
    private string? descripcionPuj03 = "Apartamento Miami Beach";
    private string? descripcionPuj04 = "Apartamento Orlando";
    private string? descripcionPuj05 = "Casa Miami";
    private string? descripcionPuj06 = "Apartamento New York";
    private string? descripcionPuj07 = "Duplex Miami";
    private string? descripcionPuj08 = "Estudio Miami";
    private string? descripcionPuj09 = "PH Miami";

    public string? puja;
    public string? IdPuja;

    private async Task ShowModal(string? _idCod,string? descripcion,string? puja)    
    {        

        visible = true;
        var emailStorage = await _localStorageService.GetItem<String>(_userKey);
        UserDTO userData = new UserDTO();
        var UserData = await UserDataQueries.GetUserDataAsync(emailStorage);

        if (UserData != null)
        {
            IdAfiliado = UserData.Id;
        }

        puja = _idCod;
        Descripcion = descripcion;
        IdPuja = puja;

        StateHasChanged();
    }

    //private async Task CreatePuja()
    //{
    //    var cadena = IdAfiliado + "|" + puja + "|" + montoPuja;

    //    var result = IEncryptor.EnCryption(cadena);

    //    await JS.InvokeVoidAsync("CreatePuja", result);

    //    StateHasChanged();
    //}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var emailStorage = await _localStorageService.GetItem<String>(_userKey);
            if (string.IsNullOrEmpty(emailStorage))
            {
                var state = await authenticationStateProvider.GetAuthenticationStateAsync();
                if (!state.User.Identity.IsAuthenticated)
                {
                    navigationManager.NavigateTo("/account/signin?returnUrl=" + System.Net.WebUtility.UrlEncode(new Uri(navigationManager.Uri).PathAndQuery));
                }
            }
            else
            {
                email = emailStorage;

            }

            await JS.InvokeVoidAsync("ocultar");

            StateHasChanged();
        }
    }
}



